<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>WHAT MONEY CAN'T BUY?</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div id="logo">
				<h1>writer.</h1>
			</div>
			<div id="nav-div">
				<ul id="nav">
					<li><a href="#">Tree</a></li>
					<li><a href="#">Discover</a></li>
				</ul>
			</div>
		</div>
		<div id="content">
			<div id="article-header">
				<h2>WHAT MONEY CAN'T BUY?</h2>
				<p id="author">Michael J. Sandel</p>
			</div>
			<div id="article-body">
			<p>Should we pay children to read books or to get good grades? Should we allow corporations to pay for the right to pollute the atmosphere? Is it ethical to pay people to test risky new drugs or to donate their organs? What about hiring mercenaries to fight our wars? Auctioning admission to elite universities? Selling citizenship to immigrants willing to pay?</p>
			<p>In What Money Can’t Buy, Michael J. Sandel takes on one of the biggest ethical questions of our time: Is there something wrong with a world in which everything is for sale? If so, how can we prevent market values from reaching into spheres of life where they don’t belong? What are the moral limits of markets?</p>
			<p>In recent decades, market values have crowded out nonmarket norms in almost every aspect of life—medicine, education, government, law, art, sports, even family life and personal relations. Without quite realizing it, Sandel argues, we have drifted from having a market economy to being a market society. Is this where we want to be?</p>
			<p>In his New York Times bestseller Justice, Sandel showed himself to be a master at illuminating, with clarity and verve, the hard moral questions we confront in our everyday lives. Now, in What Money Can’t Buy, he provokes an essential discussion that we, in our market-driven age, need to have: What is the proper role of markets in a democratic society—and how can we protect the moral and civic goods that markets don’t honor and that money can’t buy?</p>
			</div>
		</div>
	</div>
</body>
</html>